.player-panel {
  display: block;
  width: 280px;
  position: relative;
  transform: translate3d(0, 0, 1px);
  color: white;
  box-sizing: border-box;
}

.player-panel-minibar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.player-panel.expanded .player-panel-minibar {
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
}

.player-panel-minibar button {
  flex-grow: 1;
  margin: 0;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.player-panel-minibar img {
  pointer-events: none;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  transform: translateZ(0);
  padding: 4px 0;
}

.player-panel-minibar button:hover {
  background: rgb(255 255 255 / 10%);
}

button.player-panel-tab-active {
  background: rgb(255 255 255 / 20%);
}

.player-panel-content {
  display: flex;
  justify-content: center;
}

.player-panel-content > * {
  margin: 8px 0;
}

.player-panel-collection-log img {
  image-rendering: initial;
}
