.git
.github
.gitignore
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
/vendor
.env
.env.local
.env.*.local
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
/public/app.js.map
/public/hot
/public/storage
/public/build
.DS_Store
*.swp
.idea
.vscode
/tests
Dockerfile
/cache
