#skill-graph-control-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

#skill-graph-body {
  display: flex;
  overflow-y: auto;
  position: relative;
  flex-direction: column;
  flex: 1;
}

#skill-graph-container {
  min-width: 0;
  position: relative;
  height: max(40vh, 300px);
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.skill-graph-dropdown > select {
  padding: 8px;
}

#skill-graph-canvas {
  position: absolute;
  height: 300px;
  box-sizing: border-box;
  background: rgb(255 255 255 / 5%);
}

#skill-graph-skill-image {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  image-rendering: pixelated;
  opacity: 0.2;
  aspect-ratio: 1;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

#skill-graph-loading-overlay {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  inset: 0;
}

#skill-graph-xp-change-table {
  margin: 8px 24px;
  font-size: 16px;
  border-collapse: collapse;
}

#skill-graph-xp-change-table img {
  width: 1em;
  margin-inline: 0.5em;
  object-fit: contain;
}

.skill-graph-xp-change-table-label {
  display: flex;
  align-items: center;
}

#skill-graph-no-data {
  padding: 8px;
}
