#app-navigation {
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: auto hidden;
  flex-shrink: 0;
}

.mobile {
  display: none;
  min-width: 64px;
}

@media only screen and (width <= 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}

#app-navigation .men-button img {
  height: 24px;
}

#app-navigation-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}

.nav-main-links {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.nav-right-links {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

#app-navigation-group-name {
  color: white;
  white-space: nowrap;
  margin-right: 8px;
  font-size: 1.5em;
  font-weight: 300;
}
