#setup-instructions-container {
  display: flex;
  justify-content: center;
  padding: 64px 12px;
  width: 100%;
  box-sizing: border-box;
}

#setup-instructions {
  max-width: 500px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.setup-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

#setup-config img {
  max-width: 250px;
}

#setup-go-to-group {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.setup-credential {
  padding: 0.25em 0.5em;
  position: relative;
  width: 100%;
}

#setup-credential-hide {
  position: absolute;
  left: 0;
  top: 0;
  background: #222;
  color: var(--white);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

#setup-credential-hide:hover {
  background: #444;
}
