#create-group-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#create-group-container .validation-error {
  min-height: 20px;
}

#create-group-window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 260px;
  padding: 16px;
}

#create-group-window > button {
  align-self: center;
}

#create-group-window > .validation-error {
  align-self: center;
  font-size: 24px;
}

#create-group-loading-overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  inset: 0;
}
