#tooltip-container {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
}

#tooltip {
  transform: translate(5px, calc(-100% - 5px));
  min-width: 160px;
  background-color: rgb(0 0 0;
  border: solid 1px rgb(255 255 255);
  visibility: hidden; /* Hidden until toggled on by a component */
  padding: 5px;
}

#tooltip hr {
  background-color: rgb(255 255 255 / 60%);
  margin-block: 4px;
  border: none;
  height: 1px;
}
