#items-page-list {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  padding: 12px;
  gap: 12px;
  align-items: flex-start;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
}

#items-page-head {
  display: flex;
  align-items: flex-end;
  gap: 6px 8px;
  margin-inline: 16px;
}

@media only screen and (width <= 850px) {
  #items-page-head {
    flex-direction: column;
    align-items: flex-start;
  }

  #items-page-head search-element {
    margin-right: 0;
  }
}

#items-page-utility {
  margin-inline: 16px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}

#items-page-utility > * {
  padding: 4px;
}

.items-page-panel {
  display: flex;
  height: 280px;
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  transform: translate3d(0, 0, 1px);
  color: var(--primary-text);
}

.items-page-panel-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  transform: translateZ(1px);
  padding: 8px;
  background: rgb(255 255 255 / 5%);
}

.items-page-panel-item-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 0.5em;
  word-break: keep-all;
  white-space: nowrap;
}

.inventory-item-picture {
  width: 63px;
  min-height: 56px;
  min-width: 63px;
  border: none;
  image-rendering: optimizequality;
}

.items-page-panel-quantity-breakdown {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  white-space: nowrap;
  grid-gap: 0 8px;
  padding: 8px;
}

.items-page-panel-quantity-contribution {
  height: 8px;
  width: 100%;
  transform-origin: left;
}

.items-page-panel-icon {
  width: 72px;
  object-fit: contain;
  image-rendering: pixelated;
}

.items-page-panel-name {
  font-size: 20px;
  color: var(--yellow);
}

.items-page-panel-name:hover {
  color: var(--yellow-light);
}

#inventory-pager {
  display: block;
}

#inventory-pager-label {
  margin-bottom: 0.25em;
}

#inventory-pager-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#inventory-pager-buttons button {
  padding: 4px 8px;
  width: 32px;
  height: 32px;
}

#items-page-search {
  display: flex;
  position: relative;
  min-width: 300px;
  max-width: 500px;
}

#items-page-no-items {
  padding: 16px;
}
