#items-page-head {
  display: flex;
  align-items: flex-end;
  gap: 6px 8px;
  margin-inline: 16px;
}

@media only screen and (width <= 800px) {
  #items-page-head {
    flex-direction: column;
    align-items: flex-start;
  }

  #items-page-head search-element {
    margin-right: 0;
  }
}

#items-page-utility {
  margin-inline: 16px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}

#items-page-utility > * {
  padding: 4px;
  display: flex;
  place-content: center center;
  flex-wrap: wrap;
}

.items-page-panel {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  color: var(--white);
}

.items-page-panel-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  transform: translateZ(1px);
  padding: 8px;
  background: rgb(255 255 255 / 5%);
}

.items-page-panel-item-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 0.5em;
  word-break: keep-all;
  white-space: nowrap;
}

.inventory-item-picture {
  width: 63px;
  min-height: 56px;
  min-width: 63px;
  border: none;
  image-rendering: optimizequality;
}

.items-page-panel-quantity-breakdown {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  white-space: nowrap;
  grid-gap: 0 8px;
  padding: 8px;
}

.items-page-panel-quantity-contribution {
  height: 8px;
  width: 100%;
  transform-origin: left;
}

.items-page-panel-icon {
  width: 72px;
  object-fit: contain;
  image-rendering: pixelated;
}

.items-page-panel-name {
  font-size: 20px;
  color: var(--yellow);
  text-decoration: none;
}

.items-page-panel-name:hover {
  color: var(--yellow-light);
}

#items-page-search {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 300px;
}

#items-page-no-items {
  padding: 16px;
}
