#men-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
  color: white;
  flex-direction: column;
}

#men-homepage h1 {
  text-shadow: 3px 3px var(--black);
  font-size: min(128px, 16vw);
  margin: 0;
}

#men-homepage-links {
  margin-top: 1.5em;
  display: flex;
  gap: 2em;
}
